<!DOCTYPE html>
<html lang='fr'>
  <head>
    <meta charset='UTF-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ project_name }}</title>
    <meta name="author" content="Lucas Cimon [ chezsoi.org/lucas ]"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>{{ project_name }}</h1>
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <a href="#"><img title="Click-me to remove any tag filter" src="{{ project_name }}.jpg" class="center-block"></a>
        {% if mailto_all_members %}
        <p class="text-center">
          <br>
          <a href="{{ mailto_all_members }}">Envoyer un email à tous les participants actifs</a>
          <br>
          <em>(toute personne ayant déjà contribué)</em>
        </p>
        {% endif %}
        <h3>Morceaux</h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-md-2">Date</th>
                  <th class="col-md-8">Description</th>
                  <th class="col-md-2">Auteur</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        <h3>Stats</h3>
        {% for user_name, user_stats in stats.users.items()|sort(attribute='1.links_shared', reverse=True) %}
        <li>{{ user_name }} (emails envoyés: {{ user_stats.emails_sent }} / emails reçus: {{ user_stats.emails_received }} / liens partagés: {{ user_stats.links_shared }})</li>
        {% endfor %}
      </div>
      <div class="col-md-1"></div>
    </div>
    <footer style="padding: 5rem" class="text-center">
      Source code available on Github at <a href="https://github.com/Lucas-C/music-emails-spybot">Lucas-C/music-email-spybot</a>
    </footer>
    <script>
    (function () {
        var links = [
          {% for link in links|sort(attribute='email.timestamp', reverse=True) %}
            {timestamp: {{ link.email.timestamp }}, tags: {{ link.tags|list }}, element: trFromString('\
            <tr><!-- email.id: {{ link.email.id }} - email.timestamp: {{ link.email.timestamp }} -->\
              <td>{{ link.email.date_str }}</td>\
              <td>\
                {% if link.page_title %}\
                <div class="text-center">\
                  <em>{{ link.page_title|replace("'", "&#39;") }}</em>\
                </div>\
                {% endif %}\
                "{{ link.quote|replace("'", "&#39;") }}"\
              </td>\
              {% for user_email, user in link.email.src.items() %}\
              <td>{{ user.name }}</td>\
              {% endfor %}\
            </tr>\
            ')},
          {% endfor %}
        ];

        var links_per_tag = {};
        links.forEach(function (link) {
            link.tags.forEach(function (tag) {
                if (!links_per_tag[tag]) {
                    links_per_tag[tag] = [];
                }
                links_per_tag[tag].push(link);
                links_per_tag[tag].sort(function (l1, l2) { return l2.timestamp - l1.timestamp; });
            });
        });

        window.onhashchange = updateTable;
        updateTable();

        function updateTable() {
            var tag = location.hash.slice(1);
            var tbody = document.getElementsByTagName('tbody')[0];
            removeAllChildren(tbody);
            var linksTodisplay = links;
            if (tag) {
                linksTodisplay = links_per_tag[tag];
            }
            linksTodisplay.forEach(function (link) {
                tbody.appendChild(link.element);
            });
        }

        function removeAllChildren (element) {
            while (element.firstChild) {
                element.removeChild(element.firstChild);
            }
        }

        function trFromString (string) {
            var div = document.createElement('tbody');
            div.innerHTML = string;
            return div.children[0];
        }
    })();
    </script>
  </body>
</html>
